:root {
  --color-primary: #334684;
  --color-secondary: #000000;
  --color-tertiary: #338471;
  --gradient-primary: linear-gradient(to top right, #fdfdfd, #334684);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Scheherazade', sans-serif;
  font-weight: 300;
  color: #000000;
  line-height: 1.9;
  background-image: var(--gradient-primary);
}

/* General Elements */

.section {
  padding: 15rem 3rem;
  border-top: 10px solid #4a4a4a;

  transform: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 5rem;
  font-weight: 600;
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.section__header {
  font-size: 2rem;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 3rem;
}

.section__content {
  font-size: 1.5rem;
  font-weight: 500;
}

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.title__name {
  padding-top: 75px;
  align-content: center;
}

.btn {
  display: inline-block;
  background-image: var(--gradient-primary);
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--gradient-primary);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--gradient-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3px;
}

/* Navigation */

.nav {
  display: flex;
  background: transparent;
  border-radius: 40px;
  padding: 10px 15px;
  margin: 0 auto;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  margin: 0 15px;
}

.nav__item a {
  text-decoration: none;
  color: rgb(242, 242, 242);
  font-weight: bold;
  font-size: large;
}

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  flex: 1;

  max-width: 75rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

h1 {
  font-size: 5rem;
  line-height: 1.3;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  transform: translateY(-2rem);
}

.highlight {
  position: relative;
}
